import ArrowUpwardIcon from '@mui/icons-material/ArrowUpward';
<template>
  <div class="grid-container">
    <div class="item1">
      <nav class="footer">
        <div class="logo">Brandname</div>
        <div class="navbar">
          <div class="navOne">
            <a href="#">Product</a>
            <a href="#">Home</a>
            <a href="#">Pricing</a>
            <a href="#">Contact</a>
          </div>
          <div class="navTwo">
            <a href="#">Login</a>
            <button>JOIN US<img src="@/assets/arrow.svg" /></button>
          </div>
        </div>
      </nav>
    </div>
    <div class="item2">
      <div class="primerap">
        <h5>Lorem ipsum dolor sit amet consectetur</h5>
        <h1>Lorem ipsum dolor sit adipisicing elit</h1>
        <h4>
          Lorem ipsum dolor sit amet Eveniet facere officia ducimus aut
          accusamus.
        </h4>
        <div><button>Get Quote Now</button> <button>Learn More</button></div>
      </div>
      <div class="segundap">
        <img class="elipse" src="./assets/elipse.svg" />
        <img class="gato" src="./assets/gato.png" />
        <div class="cuadrado">
          <p>Greaters</p>
          <p>18<img class="arrow" src="./assets/up-arrow-svgrepo-com.svg" /></p>
        </div>
        <div class="cuadradoDos">
          <div class="one">
            <p>latest Scores</p>
            <p class="view">View All</p>
          </div>
          <div class="two">
            <h4>Singles</h4>
            <h4>Doubles</h4>
            <h4>Mixed</h4>
            <h4>Doubles</h4>
          </div>
          <div class="three">
            <img src="./assets/person-female-svgrepo-com.svg" />Lorem ipsum
            dolor <img src="./assets/star-svgrepo-com.svg" />
          </div>
          <div class="four">
            <h5>
              Elizabeth V. (EUW)
              <h5 class="dif">2</h5>
              <h5>6</h5>
              <h5>6</h5>
              <h5 class="win">Win</h5>
            </h5>
          </div>
          <div class="five">
            <h5>
              Anastasia E. (COR)
              <h5 class="dif">0</h5>
              <h5>6</h5>
              <h5>4</h5>
              <h5 class="win">Win</h5>
            </h5>
          </div>
        </div>
        <div class="cuadradoTres">
          <h5>Goblal Statistic</h5>
          <div>
            <img src="./assets/icons8-pie-chart-64.png" />
            <div class="pri"></div>
            <div class="seg"></div>
            <div class="terc"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="item3"></div>
    <div class="item4"></div>
  </div>


</template>

<style scoped>
.terc {
  position: absolute;
  width: 5px;
  border-radius: 15%;
  height: 5px;
  background: linear-gradient(58deg, rgba(201,190,12,0.8627013305322129) 20%, rgba(9,121,58,0.9551383053221288) 46%, rgba(0,244,255,0.8935136554621849) 100%);
  margin: -80px 0px 0px 150px;
}
.seg {
  position: absolute;
  width: 5px;
  border-radius: 15%;
  height: 5px;
  margin: -60px 0px 0px 150px;
  background: linear-gradient(113deg, rgba(34,0,36,0.8627013305322129) 10%, rgb(8, 255, 243) 50%, rgba(255,0,69,0.8935136554621849) 110%);
}
.pri {
  position: absolute;
  width: 5px;
  border-radius: 15%;
  height: 5px;
  margin: -40px 0px 0px 150px;
  background: linear-gradient(33deg, rgba(2,0,36,1) 20%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}
.cuadradoTres div img {
  width: 100px;
  height: 100px;
}
.cuadradoTres {
  position: absolute;
  width: 196.24px;
  height: 183.53px;
  color: black;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.788);
  margin-left: 450px;
}
.four .dif {
  color: #616161;
}
.five .win {
  color: transparent;
  width: 15%;
}
.five {
  display: flex;
  color: black;
  justify-content: space-evenly;
  gap: 13px;
}
.four .dif {
  color: #616161;
}
.four .win {
  border-radius: 15%;
  width: 15%;
  background: rgba(255, 98, 41, 0.603);
  color: rgba(241, 84, 27, 0.788);
}
.four {
  display: flex;
  color: black;
  justify-content: space-evenly;
  gap: 13px;
}
.three > img {
  width: 15px;
  height: 15px;
}
.three {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.cuadradoDos .one .view {
  color: #737373;
}
.cuadradoDos .one {
  display: flex;
  width: 100%;
  gap: 80px;
  justify-content: space-evenly;
}
.cuadradoDos .one > p {
  display: flex;
}
.cuadradoDos .two {
  display: flex;
  gap: 5px;
  justify-content: start;
  color: #737373;
}
.cuadradoDos .two > h4:hover {
  color: aquamarine;
  background: rgb(138, 206, 206);
  border-radius: 15%;
  padding: 3px;
}
.cuadradoDos {
  padding: 10px;
  color: black;
  position: relative;
  width: 218.82px;
  height: 149.65px;
  background: white;
  border-radius: 10%;
  display: flex;
  font-size: small;
  line-height: 27px;
  flex-direction: column;
  margin: 500px 300px 0 0px;
}
.arrow {
  widows: 25px;
  height: 25px;
}
.cuadrado > p {
  font-weight: 100;
  font-size: 1.3rem;
}
.cuadrado {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.801);
  flex-direction: column;
  align-items: start;
  line-height: 35px;
  width: 162.35px;
  height: 81.88px;
  display: flex;
  position: relative;
  border-radius: 10%;
  background-color: rgba(106, 58, 150, 0.678);
  margin: -100px -100px 0 0px;
}
.segundap > img {
  position: absolute;
  display: flex;
}
.segundap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gato {
  width: 650px;
  height: 650px;
  margin-right: 240px;
}
.primerap > div {
  width: 365px;
  height: 52px;
  display: flex;
  gap: 7px;
}
.primerap > div > button:hover {
  background-color: transparent;
  border: 1px solid aquamarine;
  color: aquamarine;
}
.primerap > div > button {
  margin-top: 40px;
  width: 137px;
  height: 52px;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  color: white;
  background-color: aquamarine;
}
.primerap > h5 {
  color: aquamarine;
  font-weight: 700;
  font-size: 1rem;
  text-align: start;
  margin-bottom: 20px;
}
.primerap > h4 {
  color: #737373;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: start;
}
.primerap > h1 {
  color: #252b42;
  font-weight: 700;
  font-size: 3rem;
  line-height: 75px;
  text-align: start;
  margin-bottom: 20px;
}
.primerap {
  width: 573px;
  height: 396px;
}
.segundap {
  width: 704px;
  height: 682px;
}
.navbar {
  display: flex;
  align-items: center;
  width: 815px;
  height: 58px;
  justify-content: space-evenly;
}
.navOne > a:hover {
  color: white;
  background: transparent;
}
.navOne > a {
  font-size: 1rem;
  font-weight: 700;
}
.navOne {
  display: flex;
  justify-content: space-between;
  width: 275px;
  height: 24px;
}
.navTwo {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  height: 52px;
}
.navTwo > a:hover {
  color: white;
  background: transparent;
}
.navTwo > a {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.navTwo > button:hover {
  background-color: transparent;
  border: 1px solid aquamarine;
  color: aquamarine;
}
.navTwo > button {
  width: 137px;
  gap: 7px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  color: white;
  background-color: aquamarine;
}
.logo {
  width: 187px;
  height: 58px;
  margin: 0 auto;
  color: #252b42;
}
.footer {
  width: 1332px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item1 {
  grid-area: header;
  display: flex;
  justify-content: center;
  width: 1322px;
  height: 91px;
}
.item2 {
  grid-area: menu;
  width: 1440px;
  height: 682px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: footer;
}
.grid-container {
  width: 1440px;
  height: 777px;
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu menu menu main main main"
    "footer footer footer footer footer footer";
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

</style>
